.terraform/
*.tfstate
*.tfstate*
_tfplan
*.terraform.lock.hcl
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
kubeconfig*
.terraformrc
terraform.rc
.terraform.lock.hcl
build/
.DS_Store